
/*----font link--- */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


 /*--common styles and utilities-- */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}


/* navber */
header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: 80%;
}

nav h3{
    font-weight: bold;
    font-size: 24px;
}

/* top section */

.top-container{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.top-section{
    width: 85%;
    display: flex;
    align-items: center;
    
}

.half-width h1{
    color: #3A3A3A;
    font-weight: bold;
    font-size: 52px;
    line-height: 70px;
    width: 50%;
}

.half-width img:hover{
    transform: rotate(360deg);
    transition: transform 1s;
}

.half-width p{
    color: #787885;
    font-size: 14px;
    line-height: 24px;
}

.half-width button{
    background-color: #E02C6D;
    border-radius: 41px;
    color: #FFFF;
    padding: 10px 24px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    animation-name: button-animation;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    cursor: pointer;
}



/* button animation */
@keyframes button-animation {
    0%{
        margin-left: 0px;
        color: #FFFF;
        background-color: #E02C6D;
    }
    10%{
        margin-left: 15px;
        color: #FFFF;
        background-color: #E02C6D;
    }

    25%{
        margin-left: 50px;
        color: #FFFF;
        background-color: #E02C6D;
    }
    
    50%{
        margin-left: 75px;
        transform: rotate(360deg);
        transition: transform 1s;
        color:#E02C6D;
        background-color: #FFFF;
    }

    75%{
        margin-left: 15px;
        transform: rotate(360deg);
        transition: transform 1s;
        color: #FFFF;
        background-color: #E02C6D;
    }

    100%{
        margin-left: 0px;
        color: #FFFF;
        background-color: #E02C6D;
        
    }
}




/* second section */


.container{
    margin-top: 115px;
}

.section-title{
    text-align: center;
    color:#3A3A3A;
    font-weight: 600;
    font-size: 28px;
}

.second-section{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
 
}

.columns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}

.column{
    margin-top: 50px;
    
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 300px;
   
}

.column img{
    width: 300px;
    height: 256px;
    margin-left: 20px;
}

.flex-items{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.column h2{
    font-weight: 500;
    font-size: 28px;
}

.column h3{
    font-size: 24px;
    font-weight: 300;
}
.column p{
    color: #787885;
    font-size: 14px;
    line-height: 143%;
}
.stars i{
    font-size: 14px;
    color: #FB8200;
}

.see-more{
    color: #E02C6DDE;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    margin-right: 30px;
}


/* footer */

footer{
    margin-top: 100px;
    background-color: #0A0826;
    margin-bottom: 0px;
    text-align: center;
    height: 280px;
    color: #FFFF;
}

footer h2{
    
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    
}

.footer-text{
    padding-top: 50px;
}

.icons i{
    margin-left: 20px;
}

/* mediaquary mobile device */

@media only screen and (max-width: 688px) {

   .top-section{
       display: flex;
       flex-direction: column;
    
   }
   .text-part{
       margin: 0px;
       width:80%;
       text-align: center;
   }
   .half-width img{
       margin-top: 30px;
       width:90%;
   }
  
   .columns{
    display:flex;
    flex-direction: column;
    }

    .second-section{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
     
    }

    .column{
        margin-top: 50px;
        margin-left: 30px;
        padding: 15px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        width: 350px;
    }
   .header{
       display: none;
   }
}


/* responsive for ipad tab */

@media only screen and (max-width: 1188px) and (min-width: 689px) {
    .top-section{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       
    }    

    .columns{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        }

    .see-more{
        text-align: right;
    }

    .half-width img{
        margin-top: 30px;
        width:90%;
    }

    
}



